  <footer class="page-footer red darken-2">
          <div class="footer-copyright">
            <div class="container">
                Rock Bar Directory © 2016
            </div>
          </div>
        </footer>
  
  <!--  Scripts-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="/javascripts/init.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>
  
  </body>
</html>