/* Custom Stylesheet */
@font-face {
	font-family: IndieRock;  
	src: url(../font/IndieRock.ttf);  
	font-weight: normal;  
}

@font-face {
	font-family: Futura;  
	src: url(../font/FuturaMedium.ttf);  
	font-weight: normal;  
}


body {
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

nav ul a,
nav .brand-logo {
  color: #fff;
  font-family: IndieRock, Arial, Helvetica, sans-serif;
}

h1 {
     font-family: IndieRock, Arial, Helvetica, sans-serif;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 670px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card-title {
    text-shadow: -1px -1px 0px rgba(255,255,255,.9);
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }