<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Bar Details</h1>
    <form method="post" action="add">
        <fieldset class="input-field col s12">
            <label for="title">Title: *</label>
            <input name="title" id="title" required />
        </fieldset>
        <fieldset class="input-field col s12">
            <label for="location">Location: *</label>
            <input name="location" id="location" required></input>
        </fieldset>
        <fieldset class="input-field col s12">
            <label for="city">City: *</label>
            <input name="city" id="city" required></input>
        </fieldset>
        <fieldset class="input-field col s12">
            <label for="website">Website: *</label>
            <input name="website" id="website" required></input>
        </fieldset>
        <fieldset class="input-field col s12">
            <label for="founded">Founded: *</label>
            <input name="founded" id="founded" required></input>
        </fieldset>
        
        <button class="btn red darken-4 waves-effect waves-light white-text">Save</button>
    </form>
</main>

<%- include ../partials/footer.ejs %>