<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Bars</h1>

    <a href="/bars/add" title="Add Bar">Add a new Bar</a>

    <ul class="list-group">
        <% for (var i = 0; i < bars.length; i++) { %>
            <li class="list-group-item">
                <a href="/bars/<%= bars[i]._id%>" title="Read More">
                    <%= bars[i].title %></a>
            </li>
        <% } %>
    </ul>
</main>

<%- include ../partials/footer.ejs %>